{{#each this}}
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0 bg-light">
        <div class="col-md-4">
            <img src={{flag}} alt="flag" width="260" height="100%">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{name}}</h2>
                <p class="card-text">Capital: {{capital}}</p>
                <p class="card-text">Population: {{population}}</p>
                <p class="card-text">Languages:</p>
                <ul class="card-text">
                    {{#each this.languages}}
                    <li>{{name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{/each}}